<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>oreframe</title>
</head>
<body>
  <h1>インデックス</h1>
  <p>{{frame}}</p>
  <p>{{work}}</p>
  <form action="" method="POST">
    <p>名前：<input type="text" name="name">（文字、1文字以上20文字以下）</p>
    <p>年齢：<input type="text" name="age">（数字、0文字以上130文字以下）</p>
    <p>住所<span style="color:red">*</span>：<input type="text" name="address">（必須）</p>
    <input type="submit">
  </form>
</body>
</html>
